# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log
crash.log

# Terraform hidden directories
Infra/.terraform/
Infra/.terraform.lock.hcl

# Sensitive variable file
Infra/variables.tf

# Terraform plan file
*.plan
